doctype html
html
    head
        title= graph
    body
    button(id='home_button') home
    link(rel='stylesheet', href='uPlot/uPlot.min.css')
    script(src='uPlot/uPlot.iife.min.js')
    script.
        const data = !{data};
        console.log('???')
        console.log(data)
        if (data.length === 0) {
            alert('There\'s no data!');
            location.href='/'
        }
        const group_id = data[0]['group_id'];
        const patient_id = data[0]['patient_id'];
        let temp = [];
        let date = [];
        for (d of data) {
            date.push(new Date(d['reg_date']) / 1000)
            temp.push(d['temp'])
        }
        const opts = {
            id: 'graph',
            title: `group_id: ${group_id}, patient_id: ${patient_id}`,
            width: window.innerWidth * 9 / 10,
            height: window.innerHeight * 9 / 10,
            series: [
                {},
                {
                    show: true,
                    label: 'temp',
                    stroke: 'black',
                    width: '1'
                }
            ]
        };
        const uplot = new uPlot(opts, [date, temp], document.body);

    link(rel='stylesheet', href='stylesheets/graph_style.css')
    script(src='javascripts/graph_script.js')